[submodule "src/myotrainer/experts/Kinesis"]
	path = src/myotrainer/experts/Kinesis
	url = https://github.com/amathislab/Kinesis.git
[submodule "src/myotrainer/experts/Myohuman"]
	path = src/myotrainer/experts/Myohuman
	url = https://github.com/S-Nikita-N/Myohuman.git
